{
    "CheckTime": 5,
    "MaxCheckTime": 120,
    "Port": "5000",
    "ReportEmails": [
        "chumax@gmx.de"
    ],
    "SMTPActive": true,
    "SMTPURL": "smtp.itrm.de",
    "SenderEmail": "sender@example.mail",
    "Services": [
        {
            "Active": true,
            "URL": "http://www.google.de",
            "Method": "GET"
        },
        {
            "Active": true,
            "URL": "https://www.google.de",
            "Method": "GET"
        },
        {
            "Active": false,
            "URL": "https://www.google33.de",
            "Method": "POST",
            "Postparam": {
                "test": "test2"
            }
        }
    ]
}