{
    "CheckTime": 5,
    "MaxCheckTime": 120,
    "Port": "5000",
    "ReportEmails": [
        "email@example.mail"
    ],
    "SMTPActive": true,
    "SMTPURL": "smtp.itrm.de",
    "SenderEmail": "sender@example.mail",
    "ServiceGroup": [
        {
            "Name": "Group 2",
            "SortValue": 2,
            "Services": [{
                "Active": true,
                "Name": "Google",
                "URL": "http://www.google.de",
                "Method": "GET"
            },
            {
                "Active": true,
                "Name": "Google",
                "URL": "https://www.google.de",
                "Method": "GET"
            },
            {
                "Active": false,
                "Name": "Google error",
                "URL": "https://www.google33.de",
                "Method": "POST",
                "Postparam": {
                    "test": "test2"
                }
            }]
        },
        {
            "Name": "Group 1",
            "SortValue": 1,
            "Services": [
                {
                    "Active": true,
                    "Name": "Google",
                    "URL": "http://www.google.de",
                    "Method": "GET"
                }
            ]
        }
    ]
}