
body {
    margin: 0;
    margin-top: -5px
}

.flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px;
}

.flexGroups {

    display: flex;
    flex-direction: column;
    
}

.groupHeader {
    margin-left: 6px;
    font-weight: bold;
}


.kachel {

    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    min-width: 220px;
    width: 220px;
    text-decoration: none;
    color: black;
}

.headerKachel {

    text-align: center;
    padding: 25px;

    margin: 5px;
}

.kachelOk {

    background-color: rgb(78, 255, 78);
}

.kachelNOk {

    background-color: rgb(255, 43, 43);
}

.kachelWARN {
    background-color: rgb(255, 188, 43);
}

.maintenance {
    background-color: orange;
    width: 100%;
}


.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 18%), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}


.btn-default {
    background-color: #efefef;
    border-color: #7e7e7e;
}

.btn-default:hover {
    background-color: rgb(121 119 119 / 38%);
    border-color: #7e7e7e;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.hidden {
    display: none;
}

.maintenanceArea {
    margin-left: 5px;
    padding-bottom: 50px;
}

.maintenanceBtn {
    margin-left: 5px;
    margin-right: 5px;
}
