

.flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexGroups {

    display: flex;
    flex-direction: column;
}

.groupHeader {
    margin-left: 6px;
    font-weight: bold;
}


.kachel {

    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    min-width: 220px;
    width: 220px;
}

.headerKachel {

    text-align: center;
    padding: 25px;
}

.kachelOk {

    background-color: rgb(78, 255, 78);
}

.kachelNOk {

    background-color: rgb(255, 43, 43);
}

